body {
  background: rgb(27, 9, 41);
  background: linear-gradient(301deg, rgba(27, 9, 41, 1) 0%, rgba(8, 32, 49, 1) 100%);
  font-family: montserrat !important;
}


.sidebar-bg {
  background: rgb(15, 72, 100);
  background: linear-gradient(94deg, rgba(15, 72, 100, 1) 48%, rgba(55, 20, 85, 1) 100%);
  height: 100vh;
}

.cardhead-bg {
  background: rgb(28, 36, 57);
  background: linear-gradient(254deg, rgba(28, 36, 57, 1) 48%, rgba(23, 40, 59, 1) 100%);
  padding: 5px 16px 7px 13px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  /* position: fixed;
  width: 617px; */
}

.text-center {
  text-align: center;
  margin: auto;
}

.logo-images {
  width: 130px;
}

.filter-img {
  width: 25px;
}

.profile-img {
  width: 14px;
  height: 30px;
  border-radius: 50%;
}

.nav {
  color: #ffffff !important;
}

.text-white {
  color: #ffffff !important;
}

.nav-link {

  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;

}

.nav-link:hover {
  color: #ffffff;
  background-color: #ffffff22;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

ul.dropdown-menu.show {
  background: #0f4864;
  width: 90%;
}

.collepse-bg {
  background-color: #0f486400;
}

.mobile-menu-responsive {
  background-color: #0f4864;
}

.menuon-mobile {
  display: none;
}

.mobile-menusize {
  font-size: 10px;
}

.menu-logo {
  width: 125px;
}

.mein-topheading {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}

.mt-10 {
  margin-top: 35px;
}

.gallery-heading {
  margin-top: 10px;
}

.img-100per {
  width: 100%;
}

.filteroverflow {
  overflow-x: auto;
  height: 80%;
  border: navajowhite;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.greytext {
  color: #C6C6C6;
}




.custom-switch .form-check-input {
  border: navajowhite;
  width: 50px;
  /* Adjust width */
  height: 25px;
  /* Adjust height */
  background-color: #8875E3;
  /* Default (unchecked) background color */

  transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  appearance: none;
  /* Remove default browser styles */
  border-radius: 50px !important;
  /* Rounded switch */
  position: relative;
  cursor: pointer;
}

.custom-switch .form-check-input:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  width: 15px;
  /* Circle size */
  height: 15px;
  background-color: #132949;
  /* Knob color */
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.custom-switch .form-check-input:checked {
  background-color: white;
  /* Checked background color */
  border-color: rgba(255, 255, 255, 0);
}

.custom-switch .form-check-input:checked:before {
  background-color: #8875E3;
  /* Knob color when checked */
  transform: translateY(-50%) translateX(25px);
  /* Move knob */
}

.btn-search {
  background: rgb(101, 227, 113);
  background: linear-gradient(90deg, rgba(101, 227, 113, 1) 32%, rgba(62, 149, 73, 1) 100%);
  color: #ffffff;

  border-radius: 100px;
  padding: 10px 20px;
  font-size: 12px;
}

.btn-search:hover {
  background: rgb(101, 227, 113);
  background: linear-gradient(90deg, rgba(101, 227, 113, 1) 32%, rgba(62, 149, 73, 1) 100%);
  color: #ffffff;

  border-radius: 100px;
  padding: 10px 20px;
  font-size: 12px;
}
.btn-exit{
  background: rgb(20,66,66);
  background: linear-gradient(137deg, rgba(20,66,66,1) 0%, rgba(34,26,66,1) 100%);
  color: #ffffff;

  border-radius: 100px;
  padding: 10px 20px;
  font-size: 12px;

}

.overflow-productssection {
  overflow-x: auto;
  height: 80%;
  border: navajowhite;
}

.top-headers {
  position: fixed;
  /* display: contents; */
  width: 596px;
}


.mobilepopupbg {
  background: rgb(37, 179, 243);
  background: linear-gradient(158deg, rgba(37, 179, 243, 1) 32%, rgba(108, 38, 164, 1) 100%);
}

.popppsdivmjdjje {
  border-radius: 30px;
  width: 90% !important;
  margin: auto;
  margin-left: 5% !important;
}

.no-border {
  border: none !important;
}


.modal-header {
  border-bottom: var(--bs-modal-header-border-width) solid #49505700 !important;
}

.modal-footer {
  border-top: var(--bs-modal-footer-border-width) solid #49505700 !important;
}

.popupimagebg {

  background-image: url("images/image.png");
}

.form-check-input {
  --bs-form-check-bg: #ffffff00;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  margin-top: .25em;
  border-radius: 6px !important;
  border: #ffffff solid 2px;
}

.checkboxtext {
  color: #ffffff;
  font-size: 12px;
}

.checkboxtext {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 5px;
  padding-top: 1px;
  margin-top: 5px;
}

.textarea-appo {
  background: #ffffff00;
  border: #ffffff solid 2px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
}


.glassbgs {
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

.commentsareas {
  font-size: 12px;
  font-weight: normal;
  overflow: auto;
  height: 136px;
  margin-top: 20px;
  padding: 5px;
}

.popup-widtharea {
  width: 500px;
  height: 509px;

}

.agretext {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  /* margin-top: 5px; */
  /* padding-top: 16px; */
}

.form-check {

  margin-bottom: 3px;
}
.colpbiesnotification{
  position: absolute;
    width: 596px;
    margin-top: 58px;
}
.bropareabg{
  background: rgb(37,181,236);
  background: linear-gradient(132deg, rgba(37,181,236,1) 0%, rgba(135,47,205,1) 100%);
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
  padding: 10px;
}

input#floatingInput\ vust {
  border-radius: 50px;
  background: transparent;
  border: solid 2px #fff;
}
.heading-type{
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  
}
.bg-customtag {
  border-radius: 50px;
  padding: 8px 18px 8px 18px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;

  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 5px;
}

.bg-customtag:hover {
  border-radius: 50px;
  padding: 8px 18px 8px 18px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;

  background: rgba(10, 10, 10, 0.793);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 5px;
}

.deletebutton {
  position: relative;
  float: right;
  margin-top: -30px;
  margin-right: 5px;
}
.edit-icons{width: 20px;}

@media only screen and (max-width: 765px) and (min-width: 100px) {
  .menuon-mobile {
    background: rgb(17, 69, 103);
    background: linear-gradient(49deg, rgba(17, 69, 103, 1) 48%, rgba(54, 22, 86, 1) 100%);
    bottom: 6px;
    position: fixed;
    width: 95%;
    margin: auto;
    border-radius: 15px;
    display: block !important;
    padding: 1px;
  }


  .colpbiesnotification{
    position: absolute;
    width: 95%;
      margin-top: 58px;
  }
  .popup-widtharea {
    width: 100%;
    height: 509px;
    border-radius: 25px;
}


  .cardhead-bg {

    width: 100% !important;
  }

}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {

  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #0f4864;
}